<md-card>
  <input class="instantInput" (input)="code$.next($event.target.value)" (keydown)="onChange()"
         placeholder="Type your comment id">
  <div class="flex-container text-center" fxLayout="row" fxLayoutAlign="center center">
    <div class="flex-item">
      <md-spinner color="accent" class="app-spinner" *ngIf="spinner"></md-spinner>
    </div>

    <div class="flex-item" *ngIf="result">
      <hr>
      <md-card> {{result.message}} <hr> File Name is: {{result.fileName}}</md-card>
      <hr>
      <md-card class="comment">
        <md-card-header>
          <md-card-title>Name: {{result.body.name}}</md-card-title>
          <md-card-subtitle> Email: {{result.body.email}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <p>
            {{result.body.body}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button> Post ID: {{result.body.postId}}</button>
          <button md-button> Comment id: {{result.body.id}}</button>
          <a md-mini-fab color="accent"><md-icon>thumb_up</md-icon></a>
          <a md-mini-fab color="primary"><md-icon>send</md-icon></a>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</md-card>
